h1 {
  padding: 0;
}
h4 {
  padding: 0;
}

.flag-size {
  width: 400px;
}

.bold {
  font-weight: bold;
}

@media (max-width: 960px) {
  .flag-size {
    width: 150px;
  }

  h4 {
    size: 0.7rem;
  }
}
